 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>	I am a Full-Stack software engineer specializing in developing and building beautiful web applications. Prior to this, I taught high school computer science, mathematics and economics for over a decade. Some of my hobbies are watching sports, playing tennis and basketball, playing the saxophone, snowboarding and playing board games.</p>
                </div>
                <div class="col-lg-4">
                    <p>Technologies used:
                    <ul>
                      <li>Javascript</li>
                      <li>HTML/CSS</li>
                      <li>Angular 4</li>
                      <li>SASS</li>
                      <li>ReactJS</li>
                      <li>Java/Spring Boot</li>
                      <li>AngularJS</li>
                      <li>Node.JS</li>
                      <li>Docker</li>
                      <li>Jenkins</li>
                      <li>Gulp</li>
                      <li>Node.JS</li>
                      <li>Express.JS</li>
                      <li>AWS(EC2, Elastic Beanstalk, Elastic,Load balancing)</li>
                      <li>MySql</li>
                     <li>Ping Federate</li>
                    </ul></p>
                </div>
            </div>
        </div>
    </section>
