 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>	I am a full stack software engineer specializing in developing and building beautiful web applications. Prior to this, I taught high school computer science, mathematics and economics for over a decade. Some of my hobbies are watching sports, playing tennis and basketball, playing the saxophone, snowboarding and playing board games.</p>
                </div>
                <div class="col-lg-4">
                    <p>Technologies used:
                    <ul>
                     <li>HTML/CSS/Javascript</li>
                     <li>Java 7/8/9</li>
                      <li>Python 2/3</li>
                     <li>Spring MVC</li>
                     <li>Ping Federate</li>
                      <li>React.JS</li>
                      <li>Angular.JS</li>
                     <li>Vue.Js</li>
                      <li>Node.JS</li>
                      <li>Express.JS</li>
                      <li>AWS</li>
                      <li>Heroku</li>
                      <li>MYSQL</li>
                     <li>MongoDB</li>
                     <li>Django</li>
                    </ul></p>
                </div>
            </div>
        </div>
    </section>
