 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a fullstack web developer specilizing in building wonderful sites in Javascript. Prior to this, I taught high school Computer Science, Math and Economics for over a decade. Some of my hobbies are watching sports, playing tennis and basketball, playing the saxophone and playing board games.</p>
                </div>
                <div class="col-lg-4">
                    <p>Technologies used:
                    <ul>
                      <li>React.JS</li>
                      <li>Angular.JS</li>
                      <li>Backbone.JS</li>
                      <li>Node.JS</li>
                      <li>D3.js</li>
                      <li>Express.JS</li>
                      <li>AWS</li>
                      <li>Heroku</li>
                      <li>MYSQL</li>
                      <li>MongoDB</li>
                      <li>Protractor.JS</li>
                    </ul></p>
                </div>
            </div>
        </div>
    </section>
